@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:wght,FILL@300,0');

:root{
    --color-primary-100:  #7c4dff;
    --color-primary-200:  #8f61ff;
    --color-primary-300:  #a075ff;
    --color-primary-400:  #b088ff;
    --color-primary-500:  #ceb4fd;
    --color-primary-600:  #e2d1fc;

    --color-surface-100:  #151516;
    --color-surface-200:  #2a2b2c;
    --color-surface-300:  #383a3b;
    --color-surface-400:  #74777a;
    --color-surface-500:  #929699;
    --color-surface-600:  #d8dbe0;

    --color-special: #ffcb00;
}

*{
    box-sizing: border-box;
    outline: none;
}

html{
    font-family: 'Inter', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}
body{
    background: var(--color-surface-100);
    color: var(--color-surface-600) !important;
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 100vh;
}

section{
    min-height: 128px;
    padding-top: 64px;
    padding-bottom: 64px;
}

footer {
    height: max-content;
    width: 100%;
    padding: 10px;
    background: linear-gradient(transparent, var(--color-surface-100));
    position: fixed;
    z-index: 999;
    color: var(--color-surface-400);
    bottom: 0;
    font-size: 12px;
}

footer a {
    color: var(--color-surface-500) !important;
}

a{
    color: rgb(214, 214, 214) !important;
}

h1, h2, h3, h5{
    color: var(--color-primary-500);
    font-weight: 100;
}

h1 .icon{
    font-size: 32px;
    padding-right: 16px;
}

h2 .icon{
    padding-right: 8px;
}

h4 .icon{
    font-size: 18px;
    margin: 0 -6px;
    padding-right: 8px;
}

h4{
    width: fit-content;
    margin: auto;
    color: var(--color-surface-100);
    background: var(--color-primary-200);
    padding: 2px 15px;
    border-radius: 50px;
    font-weight: 100;
}

h2{
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 5px;
}

p, li{
    font-size: 14px;
    line-height: 24px;
}


img{
    border-radius: 10px;
}

blockquote {
    background: var(--color-surface-200);
    padding: 10px 20px;
    width: fit-content;
    border-left: 4px solid var(--color-surface-300);
    border-radius: 10px;
    margin: 20px 0;
}
blockquote p{
    margin: 0;
}

code {
    padding: 2px 4px;
    border-radius: 5px;
    background: var(--color-surface-200);
    color: var(--color-primary-500);
    font-weight: bold;
}

body > header{
    height: max-content;
    width: 100%;
    padding: 10px;
    background:linear-gradient( var(--color-surface-100), transparent);
    position: fixed;
    z-index: 999;
}
article{
    padding: 0;
    position: relative;
}

article.hidden{
    display: none;
}

article>img {
    width: 100%;
    display: block;
    height: 256px;
    object-fit: cover;
}
article > header {
    padding: 16px;
    min-height: 400px;
}


article > header > .title{
    position: absolute;
}
.panel > article > header > .title{
    margin: 0 16px;
}
.avatar{
    width: 48px;
    height: 48px;
    display: inline-block;
    vertical-align: middle;
    border: 2px solid var(--color-surface-100);
}

article .metadata{
    position: absolute;
    bottom: 16px;
    text-shadow: 0 1px 2px black;
}

.metadata>p{
    display: inline;
    padding-left: 8px;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px;
}

::-webkit-scrollbar-track {
    background: var(--color-surface-100);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-surface-300);
    border-radius: 20px;     
    border: 4px solid var(--color-surface-100);
}

#site-logo{
    height: 32px;
    width: 32px;
    border-radius: 5px;
    top: 12px;
    position: absolute;
}

#site-name{
    position: absolute;
    margin: 0;
    line-height: 36px;
    font-size: 16px;
    left: 52px;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
}

#site-nav{
    float: right;
    padding-right: 15px;
    position: relative;
}

.error{
    margin: auto;
    width: fit-content;
    text-align: center;
}

.social-icon{
    width: 24px;
    height: 24px;
    padding: 2px;
    margin: 0 2px;
    vertical-align:bottom;
    transition: scale 0.1s;
}
.social-icon:hover{
    scale: 1.2;
}

.icon{
    display: inline-block;
    vertical-align: middle;
}

.icon-small{
    font-size: 18px !important;
}
.icon-btn {
    color: var(--color-surface-100);
    font-size: 24px;
    display: inline-block;
    transition: 0.2s;
    background: var(--color-primary-300);
    border-radius: 10px;
    height: 48px;
    width: 48px;
    border-bottom: 2px solid var(--color-surface-100);
    vertical-align: middle;
}
.icon-btn:hover{
    color: var(--color-primary-600);
    background: var(--color-primary-400);
}
button{
    border: none;
    background: none;
    cursor: pointer;
}

.btn-default .icon{
    width: 20px;
}

.btn{
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-weight: 100;
    border: none;
}

.nav-btn{
    margin: 0 10px;
    line-height: 36px;
    transition: color 0.5s; 
}
.nav-btn .icon{
    display: none;
}


#nav-btn-bg{
    box-sizing: content-box;
    display: block;
    position: absolute;
    min-width: 24px;
    min-height: 24px;
    padding: 0px 15px;
    margin: 0px -15px;
    top: 6px;
    border-radius: 25px;
    background: var(--color-primary-300);
    z-index: -1;
    transition: 0.25s;
    opacity: 0;
}

.page{
    width: 100%;
    max-width: 900px;
    padding-left: 25px;
    padding-right: 25px;
    transition: opacity 0.1s linear, top 0.5s ease-in-out;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
}

.hide{
    top: -100vh;
    opacity: 0;
}

.show{
    top: 0;
    opacity: 1;
}

.active{
    color: var(--color-surface-100) !important;
}

.columns{
    display: inline-block;
    text-align: center;
    width: 100%;
}

.columns>div{
    display: inline-block;
    width: 250px;
    margin: 10px;
}

.tag{
    background: var(--color-surface-100);
    padding: 5px 15px;
    border-radius: 50px;
    font-size: 12px;
    display: inline-block;
    color: var(--color-surface-600);
}

.card, article > header {
    background-color: var(--color-surface-200);
    display: inline-block;
    border-radius: 10px;
    position: relative;
    width: 100%;
    background-position: center;
    background-size: cover;
    margin: 10px 0;
}
.card{
    margin: 10px 0;
    height: 80px;
    transition: box-shadow 0.2s, height 0.3s;
}
.card-dynamic{
    overflow: hidden;
}
.card-dynamic .btn{
    pointer-events: none;
}
.card-dynamic:hover .btn{
    pointer-events: all;
}
.card-static {
    height: auto;
}
.card-static > header{
    margin: 0;
    min-height: 256px;
}

.card-button{
    cursor: pointer;
    height: auto;
}
.card-button>*{
    pointer-events: none;
}

.card-button:hover{
    box-shadow: inset 0 0 100px var(--color-primary-100);
}

.card-dynamic:hover{
    height: 256px;
}
.bottom-right-corner{
    opacity: 0;
    bottom: -70px;
    pointer-events: none;
}
.card:hover .bottom-right-corner{
    opacity: 1;
    bottom: 16px;
    pointer-events: all;
}

.top-right-corner{
    position: absolute;
    top: 0;
    height: 80px;
    right: 16px;
    display: flex;
    align-items: center;
    gap: 4px;
}

.title{
    display: inline-block;
    vertical-align: middle;
    font-size: 24px;
    text-transform: uppercase;
    margin: 0;
    padding: 10px 25px;
    width: fit-content;
    background: var(--color-surface-100);
    border-radius: 10px;
    letter-spacing: 3px;
    min-height: 48px;
}

.corner-tag {
    position: absolute;
    left: -16px;
    top: 24px;
    height: 32px;
    line-height: 32px;
    background: var(--color-special);
    z-index: 999;
    border-radius: 10px 25px 25px 10px;
    padding: 0 14px 0 10px;
    box-shadow: 0 2px #00000057;
    color: var(--color-surface-100);
}

.highlighted{
    border: 2px solid var(--color-special);
}

.text {
    padding: 5px;
}
.text  h2{
    margin-top: 5px;
}


.card .desc{
    display: inline-block;
    vertical-align: top;
    padding: 16px;
    text-shadow: 0 1px 2px black;
    position: relative;
}

.bottom-right-corner{
    position: absolute;
    right: 16px;
    bottom: 16px;
    transition: bottom 0.3s, opacity 0.2s;
}
.btn-default .on-big-screen{
    padding-left: 8px;
    vertical-align: middle;
}
.btn-default{
    padding: 10px 25px;
    padding-left: 20px;
    border-radius: 10px;
    transition: 0.1s;
    background: var(--color-surface-200);
    color: var(--color-primary-300) !important;
    border-bottom: 2px solid var(--color-surface-100);
}
.download-count {
    display: inline-block;
    padding: 10px 25px;
    padding-left: 20px;
    color: var(--color-primary-400);
    text-shadow: 0 1px black;
    border-radius: 10px;
    margin: 0;
    vertical-align: bottom;
    background: var(--color-surface-100);
    line-height: 24px;
    font-size: 14px;
    border-bottom: 2px solid black;
}
.download-link{
    background: var(--color-primary-100);
    color: var(--color-surface-100) !important;
    border-bottom: 2px solid var(--color-surface-100);
}
.btn-default:hover{
    background: var(--color-surface-300);
}
.download-link:hover{
    background: var(--color-primary-300);
}

.full-modal{
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    background: rgba(0, 0, 0, 0.666);
}

.tabbed{
    overflow-x: hidden;
}
.panel{
    padding: 0 16px;
}

.slide{
    position: relative;
    height: 100%;
    width: 200%;
    left: 0;
    transition: left 0.4s ease-in-out;
}

.slide .card-list{
    max-height: 600px;
}

.left, .right{
    display: inline-block;
    width: 50%;
    position: relative;
    overflow: auto;
}

.left {
    float: left;
}

/* .card>img{
    vertical-align:bottom;
    height: 220px;
} */

@media (max-width:600px) {
    #site-name{
        display: none;
    }
    .on-big-screen{
        display: none;
    }
    .nav-btn .icon{
        display: inline-block;
    }
    #nav-btn-bg{
        min-width: 0px;
        min-height: 50px;
        padding: 0 5px;
        margin: 0 -5px;
        top: -10px;
        border-radius: 0 0 10px 10px;
    }
    p, li{
        font-size: 12px;
        line-height: 20px;
    }
}
